body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;

}


/* headings */
.big-heading {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
}

.section-heading {
   /* line-height: 1.5rem;*/
/*     font-size: 3rem; */
}



/* section */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}




/* navigation bar */

.navbar {
    margin-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;

}

/* title section */
#title .container {
    padding: 3% 7%;
}

/* title image */

.title-image {

    transform: rotate(25deg);
    position: absolute;
    left: 60%;
    height: 60%;
    bottom: 17%;

}

/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* container */
.container {
    padding: 7% 15%;
}




/* features */

#features {

    position: relative;


}

.feature-title {
    font-size: 1.5rem;
}

.contain {
    background-color: #fff;
    position: relative;
    padding-top: 10%;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.font-awsome {

    color: #ef8172;
    text-align: center;
    margin-bottom: 1rem;
}


.font-awsome:hover {
    color: #ff4c68;
}

/* Testimonials  section*/


#testimonials {

    text-align: center;
    background-color: #ef8172;

    padding-top: 7%;
}

.testimonial-text {
    line-height: 3rem;
    font-size: 2rem;

}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}


#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}





/* pricing section */
.full-btn {
    width: 100%;
}

.pricing-text {
    line-height: 1.5rem;
    font-size: 3rem;
}


#pricing {
    padding: 100px;
    text-align: center;
}


.pricing-coloumn {
    padding: 3% 2%;
}







/* call of action */
#cta {
    text-align: center;
}



/* footer section */
#footer {
    text-align: center;
}

.social_icon {
    margin: 20px 10px;
}

/* media query section */

@media(max-width: 1000px) {
    #title {
        text-align: center;

    }

    .title-image {
        position: static;
        transform: rotate(0);
        padding-top: 100px;
        width: 70%;
        height: 100%;
    }


}
